body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	background: black;
}

.container {
    display: flex;
}

#c, #v {
	margin-left: 13%;
    width: 30%;
    height: 30%;
}

#c {
    margin-right: 2%; /* Khoảng cách giữa canvas và video */
}
